*{
    background-color: #FFFEDB;
}
/*@media only screen and (max-width: 760px){
    h1{
        display:none
    }
}*/
h1 {
    background-color: #FFFDAB;
    font-size: 2.5rem;
    color: #000000;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    /*linear-gradient: (to right, #FFFDAB, #FEFA58); go over with farter */
   /* opacity: 60%;*/
    /*z-index: 1;*/
    /*position: fixed;*/
    display: flex;
    /*flex-direction: column; */
   /* align-items: center; */
    }
    
h2 {
    font-size: 2rem;
    color: #000000;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 75%;
    }
    
h3 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 65%;
    }

h4 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    }

a {
    background-color: #FFFDAB;
    color: #608EEA;
    text-decoration: none;
    font-weight: 500;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px outset #FFFB79;
    border-radius: 5px;
    transition-duration: 1s;
    margin: 0 auto;
    }
a:hover {
        background-color: #FFFB79;
        border: 5px outset#FCF841;
        margin: 0 auto;
        padding: 10px;
        }
p {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 10px
    display: flex;
    }
.center {
    display: flex;
    margin: 0 auto;
    }
li {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    padding: 10px;
    }
img {
    height: auto;
    width: 225px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}