*{
    background-color: #FFFEDB;
}
h1 {
    font-size: 2.5rem;
    color: #000000;
    font-weight: 800;
    font-family: cursive;
    text-align: center;
    }
    
h2 {
    font-size: 2rem;
    color: #000000;
    font-weight: 700;
    font-family: cursive;
    text-align: center;
    }
    
h3 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    }

h4 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    font-family: cursive;
    text-align: center;
    }
    
    /* todo:  see if I can make the buttons round */

a {
    color: #98FFE4;
    text-decoration: underline;
    font-weight: 500;
    padding: 2px;
    font-family: cursive;
    text-align: center;
    }
p {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-family: cursive;
    text-align: center;
    }
.center {
  /*  display: block; */
    margin-left: auto;
    margin-right: auto;
   /*  width: 50%; */
    }
li {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    padding: 2px;
    font-family: cursive;
    text-align: center;
}
img {
    height: 25%;
    width: 25%;
}